<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<link rel="stylesheet" type="text/css" href="/resources/ionicons.min.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/style.css">
	
		<!-- <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script> -->
		<!-- <script src="https://unpkg.com/scrollreveal"></script> -->
		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
		
        <title>Rituraj Dutta - Full Stack Web Developer</title>
    </head>
    <body class="container">

		<nav class="navbar">
			<div class="navbar__logo">
				<i class="fas fa-tv"></i>
			</div>
			<ul class="navbar__links">
				<li><a href="#about">About</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line-1"></div>
				<div class="line-2"></div>
				<div class="line-3"></div>
			</div>
		</nav>


		<header class="header">
			<h1 class="heading-1 header__content">Hi I am <br/> Rituraj Dutta<br/><br/><span>Full Stack Web Developer</span></h1>
			<!-- <img class="header__img" src="/resources/img/header_photo.png" alt="header_photo" /> -->
		</header>

		
		<section class="about" id="about">
			<img class="about__image" src="/resources/img/about.png" alt="about_photo" />
			<h2 class="heading-2 title">About Me</h2>
			<div class="underline">&mdash;</div>
			<p class="about__paragraph">
				My name is Rituraj Dutta and I am a Web Developer.<br>I began my journey in web development from the online courses.<br>I learned the fundamentals of C, C++, Java in college but i didn't knew what i can create.<br>When i was in 3rd year i somehow came to know that online courses teaches you how we can create applications. From then my web development journey began.<br>Now i have created few applications of my own.
			</p>
		</section>

		<section class="skills" id="skills">

			<h2 class="heading-2 title">My Skills</h2>
			<div class="underline">&mdash;</div>

			<ul class="skills__list list-1">
				<li class="skills__list--li">
					<h4 class="heading-4">HTML5</h4>
					<span class="skills__list--bar">
						<span class="html">

						</span>
						<em class="count">
							90%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">CSS3</h4>
					<span class="skills__list--bar">
						<span class="css">

						</span>
						<em class="count">
							85%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">SASS</h4>
					<span class="skills__list--bar">
						<span class="sass">

						</span>
						<em class="count">
							75%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">Javascript</h4>
					<span class="skills__list--bar">
						<span class="javascript">

						</span>
						<em class="count">
							65%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">ReactJs</h4>
					<span class="skills__list--bar">
						<span class="react">

						</span>
						<em class="count">
							65%
						</em>
					</span>
				</li>
			</ul>

			<ul class="skills__list list-2">
				<li class="skills__list--li">
					<h4 class="heading-4">NodeJs</h4>
					<span class="skills__list--bar">
						<span class="node">

						</span>
						<em class="count">
							60%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">Express</h4>
					<span class="skills__list--bar">
						<span class="express">

						</span>
						<em class="count">
							60%
						</em>
					</span>
				</li>
				<li class="skills__list--li">
					<h4 class="heading-4">MongoDB</h4>
					<span class="skills__list--bar">
						<span class="mongodb">

						</span>
						<em class="count">
							50%
						</em>
					</span>
				</li>
			</ul>
			
		</section>

		<section class="services" id="services">
			<h2 class="heading-2 title mb-md">My Services</h2>
			<div class="underline mb-hg">&mdash;</div>

			<div class="service">
				<i class="fas fa-paint-brush"></i>
				<h4 class="heading-4">Web Design</h4>
				<p class="service__paragraph">
					I design an website based on the requirements for your business. No Wordpress or automation, i create everything from scratch.
				</p>
			</div>

			<div class="service">
				<i class="fas fa-laptop"></i>
				<h4 class="heading-4">Web Development</h4>
				<p class="service__paragraph">
					I develop dynamic full stack application using Nodejs and MongoDB. I also ReactJs for the FrontEnd part.
				</p>
			</div>

			<div class="service">
				<i class="fas fa-mobile-alt"></i>
				<h4 class="heading-4">Responsive Design</h4>
				<p class="service__paragraph">
					Responsiveness is really important in today's modern world as it your websites should look good in all the devices, hence i use CSS Grid for that.
				</p>
			</div>

			<div class="service">
				<i class="fas fa-redo"></i>
				<h4 class="heading-4">Website Restyling</h4>
				<p class="service__paragraph">
					If your website is old and contains bugs then i can redesign your website and fix the bugs. It will help you gain more customers.
				</p>
			</div>

			<div class="service">
				<i class="fas fa-shopping-cart"></i>
				<h4 class="heading-4">E-Commerce</h4>
				<p class="service__paragraph">
					Bring your business online to the millions of users. I can help you build an e-commerce website for your shop.
				</p>
			</div>

			<div class="service">
				<i class="fas fa-tools"></i>
				<h4 class="heading-4">Maintainence & Support</h4>
				<p class="service__paragraph">
					I provide on-going support and maintainence to ensure your website always runs smoothly, as customers satisfaction is my first priority.
				</p>
			</div>

		</section>

		<section class="projects" id="projects">

			<h2 class="heading-2 title mb-md">Projects</h2>
			<div class="underline mb-hg">&mdash;</div>


			<figure class="project__shape">
				<img class="project__image" src="/resources/img/homejone.png" alt="project-2" />
				<h4 class="heading-4">Homejone</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Homejone</h4>
					<p class="mb-md">CSS Grid</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">
						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/homejone.png" alt="project-2" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i> -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">Homejone</h4>
							<a class="link" href="https://github.com/Rituraj26/homejone" target="_blank">Github Link</a>
							<a class="link" href="https://homejone.herokuapp.com" target="_blank">Website Link</a>
						</div>

						<hr>

						<p class="project__overlay--para">It is a landing page for house selling website. I created the layout using CSS Grid. Also i have created a gallery which shows the power of CSS Grid.</p>
					</div>
				</div>
			</figure>


			<figure class="project__shape">
				<img class="project__image" src="/resources/img/health_kitchen.png" alt="project-3" />
				<h4 class="heading-4">Health Kitchen</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Health Kitchen</h4>
					<p class="mb-md">CSS Grid</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">
						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/health_kitchen.png" alt="project-3" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i> -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">Health Kitchen</h4>
							<a class="link" href="https://github.com/Rituraj26/Health_Kitchen" target="_blank">Github Link</a>
							<a class="link" href="https://healthkitchen.herokuapp.com" target="_blank">Website Link</a>
						</div>
						<hr>
						<p class="project__overlay--para">It is a landing page for healthy food and juices selling page. I created this website using CSS Grid and using some transformation property to show some nice transitions.</p>
					</div>
				</div>
			</figure>

			<figure class="project__shape">
				<img class="project__image" src="/resources/img/project-4.jpg" alt="project-4" />
				<h4 class="heading-4">GPA Calculator</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">GPA Calculator</h4>
					<p class="mb-md">Reactjs, CSS Grid</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">
						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/project-4.jpg" alt="project-4" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i> -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">GPA Calculator</h4>
							<a class="link" href="https://github.com/Rituraj26/gpa-calculator" target="_blank">Github Link</a>
							<a class="link" href="https://gpacalculator1926.herokuapp.com" target="_blank">Website Link</a>
						</div>
						<hr>
						<p class="project__overlay--para">GPA Calculator is a react application which calculates the gpa of different students. It has two categories for CSE department and Other category. If you are in CSE department then it will directly display all the subjects but if you are in other departments then it will show you the form where you have enter the credit to calculate it. You can also calculate CGPA by entering the semester GPAs.</p>
					</div>
				</div>
			</figure>


			<figure class="project__shape">
				<img class="project__image" src="/resources/img/freddie.png" alt="project-5" />
				<h4 class="heading-4">Freddie Mercury Tribute Page</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Freddie Mercury Tribute Page</h4>
					<p class="mb-md">CSS Grid</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">

						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/freddie.png" alt="project-5" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i>	 -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">Freddie Mercury Tribute Page</h4>
							<a class="link" href="https://github.com/Rituraj26/Freddie-Mercury-Tribute-Page" target="_blank">Github Link</a>
							<a class="link" href="https://freddiemercury.herokuapp.com" target="_blank">Website Link</a>
						</div>
						<hr>
						<p class="project__overlay--para">It is simple page website which i created to give a tribute to Freddie Mercury. I used CSS Grid to layout the responsiveness.</p>
					</div>
				</div>
			</figure>


			<figure class="project__shape">
				<img class="project__image" src="/resources/img/budget_calc.png" alt="project-6" />
				<h4 class="heading-4">Budget Calculator</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Budget Calculator</h4>
					<p class="mb-md">Vanilla JS</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">

						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/budget_calc.png" alt="project-6" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i> -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">Budget Calculator</h4>
							<a class="link" href="https://github.com/Rituraj26/Budget_calculator" target="_blank">Github Link</a>
							<a class="link" href="https://budgetcalculator265.herokuapp.com" target="_blank">Website Link</a>
						</div>

						<hr>
						<p class="project__overlay--para">It is an application which calculates the budget using the income and expenses.</p>
					
					</div>
				</div>
			</figure>

			<figure class="project__shape">
				<img class="project__image" src="/resources/img/blogstack.png" alt="project-6" />
				<h4 class="heading-4">Blogstack</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Blogstack</h4>
					<p class="mb-md">Semantic UI, Nodejs, MongoDB</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">

						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/blogstack.png" alt="project-6" />
							<span class="project__overlay--close">&times;</span>
							<!-- <i class="fas fa-chevron-left" id="left"></i>
							<i class="fas fa-chevron-right" id="right"></i> -->
						</figure>
						
						<div class="project__overlay--header">
							<h4 class="heading-4 project__overlay--header">Blogstack</h4>
							<a class="link" href="https://github.com/Rituraj26/Blogstack" target="_blank">Github Link</a>
							<a class="link" href="https://blogstack.herokuapp.com/blogs" target="_blank">Website Link</a>
						</div>

						<hr>
						<p class="project__overlay--para">It is a platform where users can upload blogs and it also contains the authorisation part where only the owner of the blogs can only modify the blogs.</p>
					
					</div>
				</div>
			</figure>


			<!-- <figure class="project__shape">
				<img class="project__image" src="/resources/img/ecotourism.png" alt="project-1" />
				<h4 class="heading-4">Ecotourism</h4>
				<figcaption class="project__caption">
					<h4 class="heading-4 mb-sm">Ecotourism</h4>
					<p class="mb-md">Bootstrap, Nodejs, MongoDB</p>
					<button id="project__btn" class="btn btn-outline">More Info</button>
				</figcaption>
				<div class="project__overlay">
					<div class="project__overlay--container">
						<figure class="project__overlay--figure">
							<img class="project__overlay--image" src="/resources/img/ecotourism.png" alt="project-1" />
							<span class="project__overlay--close">&times;</span>
								<i class="fas fa-chevron-left" id="left"></i>
								<i class="fas fa-chevron-right" id="right"></i>
						</figure>
						<div class="project__overlay--header">
							<h4 class="heading-4">Ecotourism</h4>
							<a class="link" href="https://github.com/Rituraj26/Eco-tourism">Github Link</a>
							<a class="link" href="https://ecotourism.herokuapp.com">Website Link</a>
						</div>
						<hr>
						<p class="project__overlay--para">Here you can get the details of all the eco-friendly places, it also allows you to post a place. You can also comment and look into other’s comment for details. It also shows the exact location of the place.</p>
					</div>
				</div>
			</figure> -->

		</section>

		<section class="contact" id="contact">
			<h2 class="heading-2 title">Contact</h2>
			<div class="underline">&mdash;</div>
			<ul class="contact__list">
				<li><a href="https://www.instagram.com/rituraj265/" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li><a href="https://twitter.com/rituraj265" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/rituraj-dutta-7619a2181/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="" target="_blank"><i class="far fa-envelope"></i></a></li>				
			</ul>
		</section>

		<!-- <section class="credit">

			<div class="credit__images">
				<h4 class="heading-4">Images</h4>
				<p class="credit__para">All the images used in the website are <span>from unsplash.com</span></p>
			</div>

			<div class="credit__vectors">
				<h4 class="heading-4">Vectors</h4>
				<p class="credit__para">All the vectors used in the website are <span>from freepik.com</span></p>
				<a href="https://www.freepik.com/free-photos-vectors/business" target="_blank"><i class="fas fa-external-link-alt"></i>About vector</a>
			</div>

			<div class="credit__icons">
				<h4 class="heading-4">Icons</h4>
				<p class="credit__para">All the icons used in the website are<span>from fontawesome.com</span></p>
			</div>

		</section> -->

		<footer class="footer">
			<p>&copy; Copyright 2019 by Rituraj Dutta</p>
		</footer>

		<script
			src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous"
		>
		</script>
		

		<script src="/js/animation.js"></script>
		<script src="/js/index.js"></script>
    </body>
</html>
