<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link
            rel="stylesheet"
            type="text/css"
            href="/resources/ionicons.min.css"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/stylesheets/css/style.css" />

        <!-- <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script> -->
        <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

        <title>Rituraj Dutta - Full Stack Web Developer</title>
    </head>

    <body class="container" onload="hideProjects()">
        <nav class="navbar">
            <div class="navbar__logo">
                <i class="fas fa-tv"></i>
            </div>
            <ul class="navbar__links">
                <li>
                    <a href="/resources/Rituraj_Resume.pdf" download>Resume</a>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
        </nav>

        <% if(success_message && success_message.length > 0) { %>
        <div class="alert-success"><%= success_message %></div>
        <% } %>

        <header class="header">
            <h1 class="heading-1 header__content">
                Hi I am <br />
                Rituraj Dutta<br /><br /><span>Full Stack Web Developer</span>
            </h1>
        </header>

        <section class="about" id="about">
            <!-- <img class="about__image" src="/resources/img/about.png" alt="about_photo" /> -->
            <h2 class="heading-2 title mb-sm">About Me</h2>
            <div class="underline mb-sm">&mdash;</div>
            <p class="about__paragraph">
                Hi, I am Rituraj Dutta and I am a Web Developer responsible for
                creating end to end professional applications. I completed my
                Bachelors degree in 2020 and currently seeking for new
                opportunities. I am proficient in creating responsive web
                designs to creating full stack single page applications using
                React.
            </p>
        </section>

        <section class="skills" id="skills">
            <h2 class="heading-2 title mb-sm">My Skills</h2>
            <div class="underline mb-sm">&mdash;</div>

            <div class="skills__grid">
                <img src="/resources/skills/html.png" alt="html5 logo" />
                <img src="/resources/skills/css.png" alt="css3 logo" />
                <img
                    src="/resources/skills/bootstrap.png"
                    alt="bootstrap logo"
                />
                <img src="/resources/skills/js.png" alt="js logo" />
                <img src="/resources/skills/react.png" alt="react logo" />
                <img src="/resources/skills/redux.png" alt="redux logo" />
                <img src="/resources/skills/nodejs.png" alt="nodejs logo" />
                <img src="/resources/skills/express.png" alt="express logo" />
                <img src="/resources/skills/mongodb.png" alt="mongodb logo" />
                <img src="/resources/skills/git.png" alt="git logo" />
            </div>
        </section>

        <section class="services" id="services">
            <h2 class="heading-2 title mb-sm">What I Can Do</h2>
            <div class="underline mb-sm">&mdash;</div>

            <div class="service">
                <i class="fas fa-paint-brush"></i>
                <h4 class="heading-4">Web Design</h4>
                <p class="service__paragraph">
                    I design an website based on the requirements for your
                    business. No Wordpress or automation, i create everything
                    from scratch.
                </p>
            </div>

            <div class="service">
                <i class="fas fa-laptop"></i>
                <h4 class="heading-4">Web Development</h4>
                <p class="service__paragraph">
                    I develop dynamic full stack application using Nodejs and
                    MongoDB. I also ReactJs for the FrontEnd part.
                </p>
            </div>

            <div class="service">
                <i class="fas fa-mobile-alt"></i>
                <h4 class="heading-4">Responsive Design</h4>
                <p class="service__paragraph">
                    Responsiveness is really important in today's modern world
                    as it your websites should look good in all the devices,
                    hence i use CSS Grid for that.
                </p>
            </div>

            <div class="service">
                <i class="fas fa-redo"></i>
                <h4 class="heading-4">Website Restyling</h4>
                <p class="service__paragraph">
                    If your website is old and contains bugs then i can redesign
                    your website and fix the bugs. It will help you gain more
                    customers.
                </p>
            </div>

            <div class="service">
                <i class="fas fa-shopping-cart"></i>
                <h4 class="heading-4">E-Commerce</h4>
                <p class="service__paragraph">
                    Bring your business online to the millions of users. I can
                    help you build an e-commerce website for your shop.
                </p>
            </div>

            <div class="service">
                <i class="fab fa-react"></i>
                <h4 class="heading-4">Single Page Application</h4>
                <p class="service__paragraph">
                    I can also make single page application using React.
                    Generally i use MERN stack to implement the full stack
                    applications.
                </p>
            </div>
        </section>

        <section class="projects" id="projects">
            <h2 class="heading-2 title mb-sm">Projects</h2>
            <div class="underline mb-sm">&mdash;</div>

            <!-- <div class="projects__btn"> -->
            <button onclick="toggleProjects(1)" class="projects__btn">
                Front End Design
            </button>
            <button onclick="toggleProjects(2)" class="projects__btn">
                Front End Application
            </button>
            <button onclick="toggleProjects(3)" class="projects__btn">
                Full Stack Application
            </button>

            <!-- Homejone265 Project -->

            <figure class="project__shape projectGrp-1">
                <img
                    class="project__image"
                    src="/resources/projects/homejone265.png"
                    alt="homejone265"
                />
                <h4 class="heading-4">Homejone265</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Homejone265</h4>
                    <p class="mb-md">CSS Grid</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/homejone265.png"
                                alt="homejone265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Homejone
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/homejone265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://homejone265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>

                        <hr />

                        <p class="project__overlay--para">
                            It is a landing page for house selling website. I
                            created the layout using CSS Grid. Also i have
                            created a gallery which shows the power of CSS Grid.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Kitchen265 Project -->

            <figure class="project__shape projectGrp-1">
                <img
                    class="project__image"
                    src="/resources/projects/kitchen265.png"
                    alt="kitchen265"
                />
                <h4 class="heading-4">Kitchen265</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Kitchen265</h4>
                    <p class="mb-md">CSS Grid</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/kitchen265.png"
                                alt="kitchen265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Kitchen265
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/Kitchen265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://kitchen265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            It is a landing page for healthy food and juices
                            selling page. I created this website using CSS Grid
                            and using some transformation property to show some
                            nice transitions.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Company265 Project -->

            <figure class="project__shape projectGrp-1">
                <img
                    class="project__image"
                    src="/resources/projects/company265.png"
                    alt="company265"
                />
                <h4 class="heading-4">Company265</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Company265</h4>
                    <p class="mb-md">CSS Grid</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/company265.png"
                                alt="company265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Company265
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/Company265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://company265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            It is homepage of a company's website. I have used
                            CSS Grid, Sass for styling and responsiveness. I
                            have also used to JS to do some event handling based
                            on user's movements.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Budject Calculator Project -->

            <figure class="project__shape projectGrp-2">
                <img
                    class="project__image"
                    src="/resources/projects/budgetcalc265.png"
                    alt="budgetcalculator265"
                />
                <h4 class="heading-4">Budget Calculator</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Budget Calculator</h4>
                    <p class="mb-md">Vanilla JS</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/budgetcalc265.png"
                                alt="budgetcalculator265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Budget Calculator
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/BudgetCalculator265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://budgetcalculator265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>

                        <hr />
                        <p class="project__overlay--para">
                            It is an application which calculates the budget
                            using the income and expenses. I have used JS to
                            implement this project.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Gpa Calculator Project -->

            <figure class="project__shape projectGrp-2">
                <img
                    class="project__image"
                    src="/resources/projects/gpacalc265.png"
                    alt="gpacalculator265"
                />
                <h4 class="heading-4">GPA Calculator</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">GPA Calculator</h4>
                    <p class="mb-md">Reactjs, CSS Grid</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/gpacalc265.png"
                                alt="gpacalculator265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                GPA Calculator
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/GpaCalculator265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://gpacalculator265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            GPA Calculator is a react application which
                            calculates the gpa of different students. It has two
                            categories for CSE department and Other category. If
                            you are in CSE department then it will directly
                            display all the subjects but if you are in other
                            departments then it will show you the form where you
                            have enter the credit to calculate it. You can also
                            calculate CGPA by entering the semester GPAs.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Videoworld Project -->

            <figure class="project__shape projectGrp-2">
                <img
                    class="project__image"
                    src="/resources/projects/videoworld265.png"
                    alt="gpacalculator265"
                />
                <h4 class="heading-4">Videoworld</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Videoworld</h4>
                    <p class="mb-md">Reactjs, CSS Grid</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/videoworld265.png"
                                alt="gpacalculator265"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Videoworld
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/videoworld265"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://videoworld265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            It is a video player which has been created using
                            HTML, CSS and REACT. It uses youtube api to fetch
                            the videos.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Blogstack Project -->

            <figure class="project__shape projectGrp-3">
                <img
                    class="project__image"
                    src="/resources/img/blogstack.png"
                    alt="project-6"
                />
                <h4 class="heading-4">Blogstack</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Blogstack</h4>
                    <p class="mb-md">Semantic UI, Nodejs, MongoDB</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/img/blogstack.png"
                                alt="project-6"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>

                        <div class="project__overlay--header">
                            <h4 class="heading-4 project__overlay--header">
                                Blogstack
                            </h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/Blogstack"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://blogstack.herokuapp.com/blogs"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>

                        <hr />
                        <p class="project__overlay--para">
                            It is a platform where users can upload blogs and it
                            also contains the authorisation part where only the
                            owner of the blogs can only modify the blogs.
                        </p>
                    </div>
                </div>
            </figure>

            <!-- Ecotourism Project -->

            <figure class="project__shape projectGrp-3">
                <img
                    class="project__image"
                    src="/resources/img/ecotourism.png"
                    alt="project-1"
                />
                <h4 class="heading-4">Ecotourism</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Ecotourism</h4>
                    <p class="mb-md">Bootstrap, Nodejs, MongoDB</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/img/ecotourism.png"
                                alt="project-1"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>
                        <div class="project__overlay--header">
                            <h4 class="heading-4">Ecotourism</h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/Eco-tourism"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://ecotourism265.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            It is a full stack application which shows different
                            ecotourism places...it allows different people to
                            post different places and comment on different post.
                            It also involves authorisation where only the
                            creator can modify the content.
                        </p>
                    </div>
                </div>
            </figure>

            <figure class="project__shape projectGrp-3">
                <img
                    class="project__image"
                    src="/resources/projects/schoolrify.png"
                    alt="schoolrify"
                />
                <h4 class="heading-4">Schoolrify</h4>
                <figcaption class="project__caption">
                    <h4 class="heading-4 mb-sm">Schoolrify</h4>
                    <p class="mb-md">Bootstrap, Nodejs, MongoDB</p>
                    <button class="btn btn-outline project__btn">
                        More Info
                    </button>
                </figcaption>
                <div class="project__overlay">
                    <div class="project__overlay--container">
                        <figure class="project__overlay--figure">
                            <img
                                class="project__overlay--image"
                                src="/resources/projects/schoolrify.png"
                                alt="schoolrify"
                            />
                            <span class="project__overlay--close">&times;</span>
                        </figure>
                        <div class="project__overlay--header">
                            <h4 class="heading-4">Schoolrify</h4>
                            <a
                                class="link"
                                href="https://github.com/Rituraj26/Schoolrify"
                                target="_blank"
                                >Github Link</a
                            >
                            <a
                                class="link"
                                href="https://schoolrify.herokuapp.com"
                                target="_blank"
                                >Website Link</a
                            >
                        </div>
                        <hr />
                        <p class="project__overlay--para">
                            This is complete MERN application which shows the
                            list of schools and their teachers details. People
                            can see reviews of different schools which might
                            help in choosing the best school for them.
                        </p>
                    </div>
                </div>
            </figure>
        </section>

        <section class="contact" id="contact">
            <h2 class="heading-2 title mb-sm">Contact</h2>
            <div class="underline mb-sm">&mdash;</div>

            <ul class="contact__list">
                <li>
                    <a
                        href="https://www.linkedin.com/in/rituraj-dutta-7619a2181/"
                        target="_blank"
                        ><i class="fab fa-linkedin"></i>
                        <span>ON LINKEDIN</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Rituraj26" target="_blank"
                        ><i class="fab fa-github"></i>
                        <span>ON GITHUB</span>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/rituraj265/"
                        target="_blank"
                        ><i class="fab fa-instagram"></i>
                        <span>ON INSTAGRAM</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/rituraj265" target="_blank"
                        ><i class="fab fa-twitter"></i>
                        <span>ON TWITTER</span>
                    </a>
                </li>
            </ul>

            <form class="contact__form" action="/contact" method="POST">
                <input name="contactName" type="text" placeholder="Name" />
                <input name="contactEmail" type="email" placeholder="Email" />
                <input name="contactSub" type="text" placeholder="Subject" />
                <textarea
                    name="contactMessage"
                    placeholder="Message"
                    cols="30"
                    rows="10"
                ></textarea>

                <button class="btn" type="submit">
                    Send
                </button>
            </form>
        </section>

        <footer class="footer">
            <p>&copy; Copyright 2019 by Rituraj Dutta</p>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
        ></script>

        <script src="/js/animation.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
