.about {
	grid-column: center-start / center-end;
	padding: 15rem 10rem 15rem 0;

	display: grid;
	grid-template-columns: 30vw 50vw;
	grid-template-rows: repeat(3, min-content);
	grid-column-gap: 5rem;
	grid-row-gap: 4rem;
	justify-items: center;
	align-items: center;

	&__image {
		width: 42rem;
		height: 53rem;
	}

	&__paragraph {
		font-size: 2rem;
		color: $color-secondary;
	}
}