.contact {
	grid-column: full-start / full-end;
	width: 100%;
	padding: 25rem;

	display: grid;
	grid-row-gap: 5rem;
	justify-content: center;
	justify-items: center;

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(4, min-content);
		grid-gap: 3rem;
	}

	a:link, a:visited {
		text-decoration: none;
		color: $color-secondary;
		font-size: 3rem;
		transition: .2s;
	}
	a:hover, a:active {
		color: grey;
	}
}