.contact {
	grid-column: full-start / full-end;
	margin-top: 20rem;
	background-color: $color-grey-light-2;
	width: 100%;
	padding: 25rem;

	display: grid;
	grid-row-gap: 5rem;
	justify-content: center;

	ul {
		list-style: none;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
	}

	a:link, a:visited {
		text-decoration: none;
		color: $color-secondary;
		font-size: 3rem;
		transition: .2s;
	}
	a:hover, a:active {
		color: grey;
	}
}