.projects {
	grid-column: full-start / full-end;
	padding: 20rem 0;
	background-color: $color-grey-light-1;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3, 35rem);
	grid-template-rows: repeat(2, min-content) repeat(2, 35rem);
	grid-gap: 6rem;
	justify-content: center;
	justify-items: center;

	&__para {
		grid-column: 1 / span 4;
		font-size: 2rem;
	}

	&__1 {
		grid-column: 1 / span 1;
	}

	&__2 {
		grid-column: 2 / span 1;
	}

	&__3 {
		grid-column: 3 / span 1;
	}


}

.project {

	&__shape {
		padding: 2rem;
		position: relative;
		overflow: hidden;
		box-shadow: 0px 0px 6px 1px rgba(165, 165, 165, 0.75);
	}

	&__image {
		width: 100%;
		height: 100%;
		transform: scale(1.4);
		backface-visibility: hidden;
		transition: all .5s;
	}

	&__caption {
		width: 100%;
		height: 100%;
		padding: 7rem 3rem 0;
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-secondary;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
	}

	&__shape:hover &__caption {
        opacity: 1;
		transform: translate(-50%, -50%);
		background-color: $color-grey-light-1;
    }

    &__shape:hover &__image {
		transform: scale(1);
		// background-color: $color-grey-light-1;
		// filter: blur(3px) brightness(80%);
		// filter: opacity(30%);
		display: flex;
		flex-direction: column;
		// align-items: baseline;
		// filter: brightness(0%);
	}
	
	&__overlay {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);

		i {
			font-size: 3rem;
			font-weight: 100;
			border: 1px solid $color-grey-light-1;
			position: absolute;
			top: 50%;
		}
		i:first-child {
			left: 1rem;
		}
		i:last-child {
			right: 1rem;
		}

		&--container {
			margin: 5% auto;
			background-color: #fff;
			padding: 2rem;
			width: 50%;
			box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
			animation-name: modalopen;
			animation-duration: 1s;

			display: grid;
			grid-row-gap: 2rem;
		}

		&--figure {
			position: relative;
		}

		&--image {
			width: 100%;
		}

		&--close {
			color: $color-grey-light-1;
			position: absolute;
			right: .9rem;
			top: .1rem;
			font-size: 30px;
		}
		  
		&--close:hover,
		&--close:focus {
			color: $color-secondary;
			text-decoration: none;
			cursor: pointer;
		}
		
		&--para {
			font-size: 1.7rem;
		}

		@keyframes modalopen {
			from {
			  opacity: 0;
			}
			to {
			  opacity: 1;
			}
		}
		  
	}
}



